# Ambienti virtuali
venv/
ENV/
env/

# Credenziali sensibili
.env

# Cache di Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Cartelle di test e modelli (evitiamo file pesanti su git)
models/yolo/yolov4.weights

# File di configurazione dell'IDE
.vscode/
.idea/

 
 